## Pair Programming ETL IV Carga I 
### Modulo 2 Sprint 2
#### Lola Rubio y Judith Mellidez

Es el momento de meter todos nuestros datos en SQL !!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendr谩 la informaci贸n que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendr谩 la informaci贸n obtenida en el ejercicio de pair de ETL 1.

 Nota Todo lo tendremos que hacer desde jupyter notebook

1. Cread la BBDD con el nombre de tiburones.

In [1]:
import pandas as pd
import mysql.connector

In [2]:
pd.options.display.max_columns= None

In [19]:
df = pd.read_csv('datos_union_clima_ataques.csv',index_col =0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal,sex,pais,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,rh_450mb,rh_400mb,rh_350mb,rh_300mb,rh_250mb,rh_200mb,wind_950mb,wind_900mb,wind_850mb,wind_800mb,wind_750mb,wind_700mb,wind_650mb,wind_600mb,wind_550mb,wind_500mb,wind_450mb,wind_400mb,wind_350mb,wind_300mb,wind_250mb,wind_200mb,index,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,11,14h00 -15h00,NaN,Minor injury to left thigh,Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875

In [ ]:
df.dtypes

In [ ]:
#funci贸n para crear la base de datos
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="AlumnaAdalab" 
    )
    print("Conectada")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [ ]:
# llamamos a la funci贸n
mydb = crear_bbdd("tiburones")

2. Cread las tablas de la BBDD:
- Tabla ataques
- Tabla clima

Funci贸n para crear las tablas

In [10]:
def crear_insertar_tabla(nombre_bbdd, contrase帽a, query):  # funci贸n para crear las tablas 
    
    # conector
    cnx = mysql.connector.connect(user='root', password=f"{contrase帽a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}")
    # cursor
    mycursor = cnx.cursor()
    
    # query
    try: 
        mycursor.execute(query)
        cnx.commit() 
    # control de errores
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [13]:
# Creamos la variable para la query de crear tablas 'ataques' 
tabla_ataques = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`ataques`(
    `id_ataque`INT NOT NULL AUTO_INCREMENT,
    `case_number` VARCHAR(45),
    `year` FLOAT,
    `type` VARCHAR(45),
    `country` VARCHAR(45),
    `area` VARCHAR(45),
    `location` VARCHAR(45),
    `activity` VARCHAR(45),
    `name` VARCHAR(45),
    `age` BIGINT,
    `time` DATETIME,
    `species_` VARCHAR(100),	
    `injury` VARCHAR(45),
    `fecha_limpia` DATE,
    `fatal` VARCHAR(4),
    `sex` VARCHAR(4),
    PRIMARY KEY (`case_number`)
    INDEX `fk_country_idx` (`country`)
    )
ENGINE = InnoDB;'''

In [14]:
#llamamos a la funcion
crear_insertar_tabla("tiburones", "AlumnaAdalab", tabla_ataques)

In [ ]:
# Creamos la variable para la query de crear tabla 'clima'
tabla_clima = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`clima`(
  `id_clima` INT NOT NULL AUTO_INCREMENT,
  `pais` VARCHAR(45) NOT NULL ,
  `rh_950mb` DOUBLE NOT NULL,
  `rh_900mb` DOUBLE NOT NULL,
  `rh_850mb` DOUBLE NOT NULL,
  `rh_800mb` DOUBLE NOT NULL,
  `rh_750mb` DOUBLE NOT NULL,
  `rh_700mb` DOUBLE NOT NULL,
  `rh_650mb` DOUBLE NOT NULL,
  `rh_600mb` DOUBLE NOT NULL,
  `rh_550mb` DOUBLE NOT NULL,
  `rh_500mb` DOUBLE NOT NULL,
  `rh_450mb` DOUBLE NOT NULL,
  `rh_400mb` DOUBLE NOT NULL,
  `rh_350mb` DOUBLE NOT NULL,
  `rh_300mb` DOUBLE NOT NULL,
  `rh_250mb` DOUBLE NOT NULL,
  `rh_200mb` DOUBLE NOT NULL,
  `wind_950mb` DOUBLE NOT NULL,
  `wind_900mb` DOUBLE NOT NULL,
  `wind_850mb` DOUBLE NOT NULL,
  `wind_800mb` DOUBLE NOT NULL,
  `wind_750mb` DOUBLE NOT NULL,
  `wind_700mb` DOUBLE NOT NULL,
  `wind_650mb` DOUBLE NOT NULL,
  `wind_600mb` DOUBLE NOT NULL,
  `wind_550mb` DOUBLE NOT NULL,
  `wind_500mb` DOUBLE NOT NULL,
  `wind_450mb` DOUBLE NOT NULL,
  `wind_400mb` DOUBLE NOT NULL,
  `wind_350mb` DOUBLE NOT NULL,
  `wind_300mb` DOUBLE NOT NULL,
  `wind_250mb` DOUBLE NOT NULL,
  `wind_200mb` DOUBLE NOT NULL,
  `index` FLOAT,
  `timepoint` FLOAT,
  `cloudcover` DOUBLE,
  `highcloud` FLOAT NOT NULL, 
  `midcloud` FLOAT NOT NULL,
  `lowcloud` FLOAT NOT NULL,
  `temp2m` DOUBLE,
  `lifted_index` DOUBLE,
  `rh2m` DOUBLE,
  `msl_pressure` DOUBLE,
  `prec_amount` DOUBLE,
  `snow_depth` DOUBLE,
  `wind10m.direction` DOUBLE,
  `wind10m.speed` DOUBLE NOT NULL,
   PRIMARY KEY (`id_clima`,`pais`),
   INDEX `fk_pais_idx` (`pais`)
  )
  ENGINE = InnoDB;'''

In [ ]:
# llamamos a la funci贸n
crear_insertar_tabla("tiburones", "AlumnaAdalab", tabla_clima)

3. BONUS Insertar los datos en las tablas.
 Nota Esta parte del pair es optativa y no ser谩 considerada para la evaluaci贸n

Realizamos el loop con iterrows para insertar los datos en las tablas pero no los inserta, creemos que la sintaxis est谩 correcta pero pudiera fallar el tipo de dato.

In [17]:
for indice , fila in df.iterrows():
    tabla_ataques = f"""
                INSERT INTO ataques (case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal,sex)
                VALUES ("{fila['case_number']}","{fila['year']}","{fila['type']},"{fila['country']}","{fila['area']}","{fila['location']}","{fila['activity']}","{fila['name']}","{fila['age']}","{fila['time']}","{fila['species_']}","{fila['injury']}","{fila['fecha_limpia']}","{fila['fatal']}","{fila['sex']}");
                """
    crear_insertar_tabla("tiburones","AlumnaAdalab",tabla_ataques)
print('Realizada con 茅xito')

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"tabla_ataques" (case_number,year,type,country,area,location,activity,name,age,t' at line 1

KeyboardInterrupt:

In [ ]:
df.to_pickle('datos_union_clima_ataques_sql.pickle')